$gameBG: rgb(80, 170, 80);
$fontColor: black;

@mixin baseline {
  background-color: $gameBG;
  color: $fontColor;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
}

@mixin input-fields {
  border-radius: 5px;
  background-color: lighten($gameBG, 60%);
}

@mixin buttons {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  &:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
