$top-height: 100px;
$card-height: 165px;
$card-width: 106px;

#playing-board {
  position: relative;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-items: center;
  height: 98vh;
  display: none;
  grid-template-columns: $card-height 1fr $card-height;
  grid-template-rows: $top-height 1fr $card-height;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .main-player {
    grid-area: 3 / 2 / 4 / 3;
    :nth-child(n) {
      height: $card-height;
    }
  }
  .side-player.right {
    grid-area: 2 / 3 / 3 / 4;
    :nth-child(n) {
      display: block;
      height: 25px;
      position: relative;
      z-index: -1;
    }
  }
  .side-player.left {
    grid-area: 2 / 1 / 3 / 2;
    :nth-child(n) {
      display: block;
      height: 25px;
      position: relative;
      z-index: -1;
    }
  }
  .top-player {
    grid-area: 1 / 2 / 2 / 3;
    :nth-child(n) {
      height: $top-height;
    }
  }
  .mid-field {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    .game-deck {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
    }
    .controls {
      order: 0;
      flex: 2 1 auto;
      align-self: auto;
    }
    .pile {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
    }
  }
}
