#new-game-form {
  display: none;
}

#start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#start-screen h3 {
  margin: 12px auto;
}

#start-screen h4 {
  margin: 16px auto;
}

#start-screen #players-name-fields {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}

#start-screen #game-settings {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}

#playing-board {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.div1 {
  background-color: blanchedalmond;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 7 / 2;
}

.div2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-area: 2 / 10 / 7 / 11;
}

.div3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 6 / 5;
}

.div4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 3 / 6 / 6 / 8;
}

.div5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: 1 / 3 / 2 / 8;
}

.div6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 2 / 9 / 7 / 10;
}

.div7 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: 7 / 3 / 8 / 8;
}

.div8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 3 / 5 / 6 / 6;
}

html {
  height: 100%;
}

body {
  background-color: #50aa50;
  color: black;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  height: 100%;
}

input {
  border-radius: 5px;
  background-color: white;
}

button {
  -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
          box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #007dc1), to(#0061a7));
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0061a7), to(#007dc1));
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

button:active {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=index.css.map */