/*#new-game-form{
  display:none;
}*/
#start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#start-screen h3 {
  margin: 12px auto;
}

#start-screen h4 {
  margin: 16px auto;
}

#start-screen #players-name-fields {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}

#start-screen #game-settings {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}

#playing-board {
  padding-left: 2vw;
  padding-right: 2vw;
  justify-items: center;
  height: 98vh;
  display: none;
  -ms-grid-columns: minmax(20vh, 165px) 1fr minmax(20vh, 165px);
      grid-template-columns: minmax(20vh, 165px) 1fr minmax(20vh, 165px);
  -ms-grid-rows: minmax(14vh, 100px) 1fr minmax(20vh, 165px);
      grid-template-rows: minmax(14vh, 100px) 1fr minmax(20vh, 165px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#playing-board .main-player {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

#playing-board .main-player :nth-child(n) {
  width: minmax(20vh, 165px)/1.55;
}

#playing-board .side-player.right {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

#playing-board .side-player.right :nth-child(n) {
  height: minmax(14vh, 100px);
}

#playing-board .side-player.left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

#playing-board .side-player.left :nth-child(n) {
  height: minmax(14vh, 100px);
}

#playing-board .top-player {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

#playing-board .top-player :nth-child(n) {
  height: minmax(14vh, 100px);
}

#playing-board .mid-field {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

/*

  .side-player {
    :nth-child(n) {
      width: $card-width;
      //  transform: rotate(90deg) translateX(-5vh) translateY(-5vh);
    }
  }


  .game-deck {
    grid-area: 2 / 3 / 3 / 4;
    :nth-child(n) {
      width: $card-width;
    }
  }
  .controls {
    grid-area: 2 / 4 / 3 / 7;
  }
  .pile {
    grid-area: 2 / 7 / 3 / 8;
    :nth-child(n) {
      width: $card-width;
    }
  }

                  <img src='./Card Images/Back/Red.svg'>

*/
body {
  background-color: #50aa50;
  color: black;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 8px;
}

input {
  border-radius: 5px;
  background-color: white;
}

button {
  -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
          box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #007dc1), to(#0061a7));
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0061a7), to(#007dc1));
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

button:active {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=index.css.map */